
#timer-li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 4rem;
    border: solid black 2px;
    border-radius: 10px;
    background-color: var(--tertiary-col);
}

#timer {
    color: black;
    font-weight: 500;
}

