.controls {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: gray;

}

#set-max {
    display: flex;
    flex-flow: column;

}

.user-set-vals {
    display: flex;
    flex-flow: column;
}