#measurementSct {
    width:inherit;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 375px) {
    #measurementSct {
        display: flex;
        flex-flow: column-reverse;
        justify-content: space-evenly;
    }
    
}