#tindeq-controls {
    margin: 5px;
    display: flex;
    flex-flow: column;
    align-items: left;
}

.tindeq-li {
    width: 100%;
    list-style: none;
    margin: 3px 0px;
    text-align: center;
}

.control-board-btn {
    border: solid;
    border-color: black;
    width:90%;
}

@media screen and (max-width: 450px){
    .tindeq-li {
        align-items: center;
    }
    .control-board-btn {
        width: 90%;        
    }
    #tindeq-controls {
        align-items: center;
    }
}