#weight-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
    padding-top: 2rem;
    margin : 0 auto;
    width: 90%;
    height: 90%;
}

@media screen and (max-width: 450px) {
    #weight-display {
        height: 50%;
        padding: 2rem
    }
}