#tin-connect {
    margin: 2rem 0;
    width: 50%;
    height: 3rem;
    background-color: var(--secondary-col);
    border-radius: 5px;
    border: 2px solid var(--border-col);
    box-shadow: 2px 2px 5px var(--shadow); 
}

#tin-connect:active {
    background-color: var(--tertiary-col);
    transform: scale(0.98);
    box-shadow: 1px 1px 7px var(--shadow);
}