.modal-background {
    background-color: rgba(200, 200, 200, 0.2);
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal-container {
    z-index: 3;


}