#timer {
    color: var(--secondary-col);
    font-size: x-large;

}
.rpe-li {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    height: 4rem;
}

.rpe-btn {
    border: solid;
    border-radius: 10px;
    box-shadow: 1px 1px 1px var(--shadow);
    border-color: black;
    font-size: larger;
    height: 100%;
    width: 100%;
    background-color: var(--tertiary-col);
}

.rpe-btn:active {
    background-color: var(--secondary-col);
}